@model Progreso1WillyCorrales.Models.WCorrales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WCorrales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.decima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.decima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carreras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carreras.nombre_carrera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
